video {
    border: 1px solid red;
    width: 270px;
    height: 480px;
    position: relative;
    z-index: 1;
}
.action{
    width: 270px;
    height: 480px;
    position: absolute;
    z-index: 0;
    border: 1px solid red;
    top: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.video-info{
    width: 75%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}
.post-info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.post-info>span{
    margin-right: 15px;
    color: #777;
}
.post-profile{
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.likeShare{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 80px;
    background: #fff5;
    position: relative;
    z-index: 2;
}
.like-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #232323;
}
