.folder{
  background: #f1f1f1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;
}
.run{
  width: 60px;
  height: 100%;
  background: #dadada;
  box-shadow: 0 0 5px 100px #ccc2;
  animation-name: running;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-direction:normal;
}

@keyframes running {
  from{
      transform: translateX(-10vw);
  }
  to {
      transform: translateX(100vw);
  }
}