
.prd-img{
    width: 120px;
}
.middle-detail{
    padding: 20px;
}
.middle-detail ul{
    list-style: none;
}
.middle-detail ul li{
    margin-top: 7px;
    font-size: 1rem;
}
.list-prd-seller{
    font-size: 1rem;
    color: #393939fa;
    list-style: none;
}

.control{
    display: flex;
    padding-top: 10px;
}

.display-qt{
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #f2f2f2;
    margin: 0 10px 0 10px;
}


.btn-my{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-remove{
    color: grey;
    font-weight: 500;
    margin-left: 20px;
    box-shadow: 0 0 0 2px #39393911;
}