.custom-card{
    padding: 10px;
    margin: 4px;
}

.list-brand-name{
    font-weight: 900;
    font-size: .8rem;
    color: #67676777;
    list-style: none;
}
.card-img-top{
    height: 80%;
    object-fit: contain;
}
.card-text{
    margin: 0;
}
.row-c{
    display: flex;
    flex-direction: column;
}.list-group{
    list-style: none;
}
.list-prd-price-c{
    font-weight: 500;
    font-size: .9rem;
    list-style: none;
}
.add-btn{
    margin-top: 10px;
}


