*{
    box-sizing: border-box;
    /* overflow: hidden; */
}



 /* main container css  */
 .mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
 }
 .reelContainer-top{
    width: 53%;
    /* border: 1px solid red; */
    padding-top: 80px;
    overflow: scroll;
    display: flex;
    justify-content: end;
    align-items: baseline;
 }
 .reelContainer-top::-webkit-scrollbar{
    display: none;
 }
 .detailContainer{
    width: 47%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
 }
 .feedBtn{
   height: 100%;
   background-color: transparent !important;
 }

 
