.back-btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.back-btn span {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 100ms;
}
.back-btn span:hover{
    background-color: #0005;
    border-radius: 5px;
}

.comments{
    width: var(--videoCardWidth);
    height: 290px;
    background: #fffd;
    position: absolute;
    z-index: 10;
    margin-bottom: 25px;
    bottom: 15px;
    background-color: #fff;
}

.comment-box{
    max-height: var(--videoCardWidth);
    height: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
    background: #fff;
}
.comment-box::-webkit-scrollbar{
    display: none;
}

.newComment{
    width: 100%;
    display: flex;
    align-items: flex-end;
    align-items: center;
    position: absolute;
    z-index: 20;
    bottom: -40px;
    background:#fff;
}
.newComment img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

.input{
    width: 80%;
    padding:5px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: .8rem;
}
.input:focus{
    /* border: none; */
    outline: none;
}
.input:empty::before{
    content: "type something";
    color: #888;
}

.newComment button{
    width: 40px;
    height: 30px;
    border: none;
    background:#fff;
    font-weight: 700;
    color: blue;
    font-size: .8rem;
}