:root{
    --videoCardWidth : 300px;
    --videoCardHeight : 540px;
}
.action{
    width: var(--videoCardWidth);
    height: var(--videoCardHeight);
    position: relative;
    z-index: 10;
}
.video-info{
    width: 75%;
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 5px;
    z-index: 2;
}

.post-info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #fff;
}
.post-info>span{
    margin-right: 15px;
    color: #777;
}
.post-profile{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}
.post.name{
    color: #fff;
}
.likeShare{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 30px;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.like-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ddd;
}
.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: #fff;
  }
.video {
    width: var(--videoCardWidth);
    height: var(--videoCardHeight);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: #000;

}

.shrink{
    transform: scale(.35)
    translateY(-90%);
}




  /* kjhkjkjhkj */

